.navbar {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid var(--color-border);
  z-index: 10;
  backdrop-filter: blur(6px);

}

.inner {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav a {
  text-decoration: none;
  font-size: 14px;
  color: var(--color-text-primary);
}
.nav a:hover {
  color: var(--color-primary);
}

.burger {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

/* ===== MOBILE ===== */

@media (max-width: 900px) {
  .nav {
    position: absolute;
    top: 72px;
    right: 0;
    background: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    border-left: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    display: none;
    width: 220px;
  }
  .open {
    display: flex;
  }
  .burger {
    display: block;
  }
}