
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  background: #ffffff;
  color: #111827;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

section {
  scroll-margin-top: 80px;
  animation: fadeIn 0.6s ease forwards;
  opacity: 0;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}

:root {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f9fafb;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --color-border: #e5e7eb;
  --btn-border-radius: 8px;

  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;

  --container-width: 1100px;
}


h1, h2, h3, h4 {
  line-height: 1.2;
  font-weight: 700;
}

h1 {
  font-size: clamp(36px, 5vw, 56px);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 24px;
  color: var(--color-text-primary);
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 48px;
  color: var(--color-text-primary);
}

h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

p {
  color: var(--color-text-secondary);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 24px;
}

.btn-primary {
  display: inline-block;
  background: var(--color-primary);
  color: #fff !important;
  padding: 14px 24px;
  border-radius: var(--btn-border-radius);
  font-weight: 600;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn-primary:hover {
  background: var(--color-primary-hover);
  opacity: 0.9;
}

.btn-secondary {
  display: inline-block;
  padding: 14px 24px;
  font-weight: 500;
  border: var(--color-border) 0.5px solid;
  border-radius: var(--btn-border-radius);
  text-decoration: none;
  color: var(--color-text-primary);
}


@media(max-width: 600px){
  h2{
    font-size: 22px;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: 14px;
  }
}


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}